/*White Bar at Top*/
header {
    background-color: #ffffff;
    height: 40px;
    border-bottom: solid #cccccc 2px;
    margin-bottom: 30px;
}

/* Buttons in Header Area */
.headerMenu {
    width: 960px;
    margin: auto;
}

h1 {
    float: left;
    height: 20px;
    width: 150px;
    font-size: 20px;
    text-align: center;
    margin: auto;
    padding: 10px;
    background-color: #4aaaa5;
    color: #ffffff;
    font-weight: bold;
    font-family: 'Georgia', Times, Times New Roman, serif;
}

menu {
    float: right;
    height: 20px;
    text-align: center;
    margin: auto;
    padding: 10px;
}

#About, #Portfolio {
    border-right: solid 2px #cccccc;
    padding-left: 10px;
    padding-right: 10px;
}

#Contact {
    padding-left: 10px;
    padding-right: 10px;
}

#About:visited, #Portfolio:visited, #Contact:visited {
    color: #777777;
}

#About:hover, #Portfolio:hover, #Contact:hover {
    color: yellow;
}

/* About Me Header */
h2 {
    clear: both;
    padding-left: 20px;
    padding-bottom: 10px;
    border-bottom: solid 2px gray;
    color: #4aaaa5;
    font-size: 20px;
    font-weight: bold;
    font-family: 'Georgia', Times, Times New Roman, serif;
}

/* Awesome Picture */
#bruceWayne {
    float: left;
    width: 200px;
    height: auto;
    padding: 30px
}

/* Body Background and Clear Floats */
body {
    clear: both;
    background-image: url("../images/footer_lodyas.png");
    background-repeat: repeat;
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
}

/* Main Part of Page */
.container {
    width: 960px;
    margin: auto;
    padding: 5px 20px 20px 20px;
    min-height: 300px;
    background-color: #ffffff;
    border: solid #dddddd 2px;
}

p {
    color: #777777;
}

.body {
    margin: auto;
    padding: 30px;  
}


/* Footer with Copyright bottom center*/
footer {
    position: fixed;
    left: 0;
    bottom: 0;
    background-color: #666666;
    height: 40px;
    width: 100%;
    border-top: solid #4aaaa5 5px;
}

#Copyright {
    position: absolute;
    left: 50%;
    bottom: 0;
}

/* Portfolio Grid */
.portfolioGrid {
    position: relative;
    left: 17%;
    margin-bottom: 100px;
}
td {
    margin: 2px;
    padding: 10px;
    position: relative;
}

td:hover {
    background-color: yellow;
}

/* Titles for Images in Grid */
.picBanner {
    background-color: #4aaaa5;
    color: white;
    position: absolute;
    bottom:20px;
    width: 180px;
    height: 15px;
    text-align: center;
    padding: 10px;
    font-family: 'Georgia', Times, Times New Roman, serif;
}

/* Contact Form */
.contactForm {
    padding: 20px;
}

.formTextInput {
    margin-left: 10px;
    margin-bottom: 10px;
    width: 300px;
}

.contactTitle{
    margin-left: 10px;
}
/* Contact Text Area */
#contactText {
    margin-left: 10px;
    margin-bottom: 10px;
    width: 300px;
    height: 100px;
}

.formButtonInput {
    margin-left: 10px;
}

.formButtonInput:hover {
    background-color: yellow;
}